
<!-- layout -->
<% var isIndex = page.path === 'index.html' %>
<% console.log('pag:'+ page.path) %>

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= page.title %></title>
		<!-- 引入自定义 CSS 文件 -->
<link rel="stylesheet" href="<%= url_for('css/styl.css') %>">
<link rel="stylesheet" href="<%= url_for('css/header.css') %>">
<body class="<%- isIndex ? '' : 'docs' -%>">
	<%- partial('partials/header') %>
	<div class="body">
		<!-- 引入头 -->
		<%- partial('partials/header') %>
		<!-- 引入头 -->
		<!-- body -->
		<!-- 替换 post.ejs/index.ejs -->
		<%- body %>
		<!-- body -->
		
		<script src="<%- url_for("js/init.js") %>"></script>
	</div>
</body>
</html>
<!-- layout -->